.header{
    height: 100px;
    .arrow{
        margin-left: 20px;
        width: 35px;
        height: 58px;
        transform: rotate(180deg);
    }
}

.login{
    .container-login{
        background-color: red;
        max-width: 960px;
    }
}