.main-topseller{
    text-align: center;
    background-image: linear-gradient(to bottom, #b6a3f5, #c8baf9, #d9d1fb, #ece8fe, #ffffff);
    height: 100%;
}

.main-topseller h1{
    padding-top: 35px;
}


@media (min-width: 320px) and (max-width: 599px){
    .main-topseller{
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }
}


@media (min-width: 801px) and (max-width: 1024px){
    .main-topseller{
        height: 515px;
        margin-bottom: -1px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .main-topseller{
        height: 565px;
    }
}