.main-footer{
    display: flex;
    justify-content: center;
    height: 58px;
    background-color: #FFB2CE;
    position: relative;
    bottom: -172px;
}

.main-footer img{
    width: 52px;
    height: 57px;
}