@font-face {
    font-family: WinterSunday;
    src: url(../../assets/fonts/WinterSunday.otf);
}



@media only screen and (min-width : 1270px)
{ 
    .main-action{
        padding-top: 30px;
        display: inline-flex;
        align-items: center;
        padding-right: 35px;
        font-size: 2.5em;
        font-family: WinterSunday;
        color: #7C3267;
        text-decoration: none;
    }

    .main-action.-second{
        padding-top: 0px;
        padding-right: 99px;
        padding-left: 15px;
    }
}

@media only screen and (min-width : 2566px){
    .main-action{
        padding-top: 25px;
        display: inline-flex;
        align-items: center;
        padding-right: 61px;
        padding-left: 61px;
        font-size: 4rem;
        font-family: WinterSunday;
        color: #7C3267;
        text-decoration: none;
    }

    .main-action .-second{
        padding-top: 0px;
        padding-right: 99px;
        padding-left: 15px;
    }
}

