.main-slide{
    display: flex;
    justify-content: center;
    /**background-color: #ECECEC;**/
    height: 450px;
    overflow: hidden;
    border-bottom: 6px ridge #FFF;
}

.main-slide .clouds{
    position: absolute;
    box-sizing: border-box;
    z-index: 3;
    overflow: hidden;
    top: -131px;
    display: flex;
    left: -506px;
}

.main-slide .clouds img{
    position: relative;
    height: 251px;
    width: auto;
    bottom: -54px;
    overflow: hidden;
    margin: 0px 230px 0px 230px;
}

.main-slide .bg_video{
    position: absolute; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
    overflow: hidden;
}

@media(min-width: 320px) and (max-width: 599px){
    .main-slide{
        height: 470px;
    }
}

@media(min-width: 801px) and (max-width: 1024px){

    .main-slide .clouds img{
        margin: 0px 220px 0px 233px;
    }
}

@media(min-width: 1025px) and (max-width: 1280px){

    .main-slide .clouds img{
        margin: 0px 220px 0px 233px;
    }
}

