.main-header{
    justify-content: space-between;
    background-color: #fff;
    display: flex;
    height: 105px;
    width: 100%;
}

.main-header .nav a{
    transition: all 0.3s;
}

.main-header .nav a:hover{
    font-size: 3.6em;
    color: #7C3267;
}

.main-header .nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: flex-start;
}