figure{
    margin: 0;
}

.main-products{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
}


@media(min-width: 320px) and (max-width: 479px){
    .main-products{
        margin: 0 auto;
        padding-bottom: 16px;
    }
}

@media(min-width: 801px) and (max-width: 1024px){
    .main-products{
        max-width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 1280px) and (max-width: 1366px){
    .main-products{
        margin-left: 28px;
    }
}

@media (min-width: 2559px){
    .main-products{
        margin-left: 350px;
        margin-right: 380px;
    }
}
