.main-recentworks{
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff, #fcfbff, #f9f8ff, #f6f4fe, #f3f1fe);
    height: 830px;
}

@media(min-width: 320px) and (max-width: 599px){
    .main-recentworks{
        height: 100%;
    }
}