@font-face {
    font-family: WinterSunday;
    src: url(../../assets/fonts/WinterSunday.otf);
}

.main-action{
    padding-top: 25px;
    display: inline-flex;
    align-items: center;
    padding-right: 61px;
    padding-left: 61px;
    font-size: 2.5rem;
    font-family: WinterSunday;
    color: #7C3267;
    text-decoration: none;
}

.main-action.-second{
    padding-top: 0px;
    padding-right: 99px;
    padding-left: 15px;
}

@media (min-width: 320px) and (max-width:800px){
    .main-action{
        display: none;
    }
}

@media (min-width:801px) and (max-width: 1024px){
    .main-action{
        padding-right: 14px;
        padding-left: 14px;
        display: block;
    }
    
}

@media (min-width:1025px){
    .main-action{
        padding-right: 30px;
        padding-left: 30px;
        display: block;
    }
}

