.main-slide{
    display: flex;
    justify-content: center;
    background-color: #ECECEC;
    height: 450px;
    overflow: hidden;
}

.main-slide .mask{
    width: 0px;
    height: 0px;
    position: absolute;
}