.main-footer{
    display: flex;
    justify-content: center;
    background-color: #FFB2CE;
    position: absolute;
    padding: 15px;
    width: 100%;
}

.main-footer img{
    width: 52px;
    height: 57px;
}
