.product-grid{
    display: flex;
    flex-wrap: wrap;
    height: 970px;
    padding-left: 145px;
}

.product-grid .product{
    width: 222px;
    height: 204px;
    background-color: #C4C4C4;
}

.product-grid .product figcaption{
    position: relative;
    top: 165px;
    text-align: center;
    font-family: 'Viga', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.product-grid .product.-middle{
    margin-left: 91px;
    margin-right: 91px;
}