.wrapper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-slide .legenda{
    z-index: 3;
    background-color: rgb(200 54 230 / 33%);
    width: 605px;
    position: absolute;
    height: 120px;
    top: 429px;
}

.wrapper-slide .legenda h1{
    text-align: center;
    font-family: WinterSunday;
    font-size: 45px;
    color: #FFF;
    text-shadow: 1px 2px 0px #000;
}

.wrapper-slide .legenda p{
    text-align: center;
    font-family: "Viga", Arial, Helvetica, sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    width: 369px;
    left: 135px;
    position: relative;
}

.wrapper-slide.-fundo{
    z-index: 1;
    position: relative;
    height: 678px;
    top: -100px;
}

.wrapper-slide.-mascara{
    -webkit-mask-image: url(../../assets/img/nuvem-fundo.png);
    -webkit-mask-size: 918px;
    -webkit-mask-repeat: no-repeat;
    z-index: 2;
    position: relative;
    height: 650px;
    top: -764px;
    left: 60px;
}

@media(min-width: 320px) and (max-width: 599px){
    .wrapper-slide .class{
        display: none;
    }

    .wrapper-slide .legenda{
        width: 100%;
        height: 140px;
    }

    .wrapper-slide .legenda p{
        width: auto;
        left: auto;
    }

    .wrapper-slide .clouds{
        display: none;
    }
}