.wrapper-comments{
    padding-top: 110px;
    display: grid;
    height: 100%;
    place-items: 100%;
    text-align: center;
    
}

.wrapper-comments h1{
    position: relative;
    top: -60px;
    font-family: WinterSunday;
}