.wrapper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-slide.-fundo{
    z-index: 1;
    position: relative;
    height: 678px;
    top: -100px;
}

.wrapper-slide.-mascara{
    -webkit-mask-image: url(../../assets/img/nuvem-fundo.png);
    -webkit-mask-size: 918px;
    -webkit-mask-repeat: no-repeat;
    z-index: 1;
    position: relative;
    height: 650px;
    top: -764px;
    left: 60px;
}
