.wrapper-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.wrapper-products .main-product{
    background-color: #C4C4C4;
    margin-left: 20px;
}

.wrapper-products .main-text{
    width: 49%;
    text-align: left;
}

.wrapper-secundary{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper-products .wrapper-secundary .secundary-product{
    width: 22%;
    background-color: #C4C4C4;
    height: 235px;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 10px;
}



.wrapper-products .main-text h1{
    font-family: WinterSunday;
    font-size: 4em;
    line-height: 60px;
    color: #F4D6F1;
    text-shadow: 0px 2px 1px #ff005c;
}

.wrapper-products .main-text p{
    font-family: "Viga", Arial, Helvetica, sans-serif;
}


@media(min-width: 320px) and (max-width: 479px){
    .wrapper-products .main-product{
        width: 250px;
        height: 250px;
        margin: auto;
    }

    .wrapper-products .main-text{
        margin-left: 35px;
        width: auto;
    }

    .wrapper-products .main-text h1{
        margin-top: 15px;
    }

    .wrapper-products .wrapper-secundary .secundary-product{
        width: 50%;
        height: 155px;
    }

    .wrapper-secundary{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        max-width: 960px;
    }
}

@media(min-width: 480px) and (max-width: 599px){
    .wrapper-products .main-product{
        width: 350px;
        height: 350px;
        margin: auto;
    }

    .wrapper-products .main-text{
        margin-left: 35px;
        width: auto;
    }

    .wrapper-products .main-text h1{
        margin-top: 15px;
    }

    
    .wrapper-products .wrapper-secundary .secundary-product{
        width: 50%;
        height: 230px;
    }

    .wrapper-secundary{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        max-width: 960px;
    }
}

@media(min-width: 600px) and (max-width: 800px){
    .wrapper-products .main-product{
        width: 350px;
        height: 350px;
        margin: auto;
    }

    .wrapper-products .main-text{
        margin-left: 35px;
        width: 70%;
    }

    .wrapper-products .main-text h1{
        margin-top: 15px;
    }

    
    .wrapper-products .wrapper-secundary .secundary-product{
        width: 50%;
        height: 290px;
    }

    .wrapper-secundary{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        max-width: 960px;
    }
}

@media(min-width: 801px) and (max-width: 1024px){
    .wrapper-products .main-product{
        width: 500px;
        height: 450px;
        margin: auto;
    }

    .wrapper-products .main-text{
        margin-left: 35px;
        width: 70%;
    }

    .wrapper-products .main-text h1{
        margin-top: 15px;
    }

    .wrapper-products .wrapper-secundary .secundary-product{
        width: 50%;
        height: 290px;
    }

    .wrapper-secundary{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        max-width: 960px;
    }
}

@media(min-width: 1025px) and (max-width: 1280px){
    .wrapper-products{
        padding-bottom: 50px;
    }
    
    .wrapper-products .main-product{
        width: 500px;
        height: 450px;
        margin: auto;
    }

    .wrapper-products .main-text{
        margin-left: 100px;
        width: 70%;
    }

    .wrapper-products .main-text h1{
        margin-top: 15px;
    }

    .wrapper-products .secundary-product{
        width: 20%;
    }

    .wrapper-secundary{
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 960px;
    }
}



@media(min-width: 1281px){
    .wrapper-products{
        padding-bottom: 50px;
    }
    
    .wrapper-products .main-product{
        width: 950px;
        height: 450px;
        margin: auto;
    }

    .wrapper-products .main-text{
        width: 80%;
        height: 100%;
        max-width: 960px;
    }

    .wrapper-products .main-text h1{
        margin-top: 15px;
    }

    .wrapper-secundary{
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 960px;
    }
}