.wrapper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-slide .legenda{
    z-index: 3;
    background-color: rgb(255 56 225 / 33%);
    width: 50%;
    position: absolute;
    bottom: 72px;
    height: 120px;
}

.wrapper-slide .legenda h1{
    text-align: center;
    font-family: WinterSunday;
    font-size: 30px;
    color: #FFF;
    text-shadow: 1px 2px 0px #000;
}

.wrapper-slide .legenda p{
    text-align: center;
    font-family: "Viga", Arial, Helvetica, sans-serif;
    color: #FFF;
}

.wrapper-slide.-fundo{
    z-index: 1;
    position: relative;
    height: 678px;
    top: -100px;
}

.wrapper-slide.-mascara{
    -webkit-mask-image: url(../../assets/img/nuvem-fundo.png);
    -webkit-mask-size: 918px;
    -webkit-mask-repeat: no-repeat;
    z-index: 2;
    position: relative;
    height: 650px;
    top: -764px;
    left: 60px;
}
